@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
:root{
    --font1: 'Passion One', 'cursive';
    --font2: 'Sriracha', 'cursive';
    --font3:  Verdana, Arial, tahoma, sans-serif
}
body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font2);
}
header{ 
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
    font-family: var(--font1);
}
header > p {
    padding-bottom: 50px;
    font-family: var(--font3);
}
header a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
main{
    background-color: white;
}
section.normal{
    font-size: 3.5vw;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 40px;
}
section.imagem {
    color: white;
    font-size: 3.5vw;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left: 40px;
    box-shadow: inset 6px 6px 13px 0px black;
}
section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.404);
    margin-bottom: 40px;
}
section#imagem01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
section#imagem02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
footer{
    padding: 8px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font3);
}
footer  a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}