@charset "Utf-8";
/*
 Em Html é id = # em CSS.
 Em CSS é class = em CSS é.

*/
body{
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;    
}
h1{
    color: #1e402f;
}
#Main{
    background-color: #3c805e;
    color: white;
    text-align: center;
}
h2{
    color: #3c805e;
}
.basic{
    color: #3c805e;
}
.intermetiate{
    color: #80793c;
}
.advanced{
      color: #803c3c;
}